.workbox{
    width: 80vw;
    height: 50vh;
    border: 2px solid red;
    bottom: 0;
}

@media screen and (max-width: 1200px) {
    .page {
        overflow: hidden;
        width: 100vw;
        height: 82vh;
        position: initial;
    }
    
    .container {
        position: initial;
        height: auto;
        min-height: auto;
        
        &.contact-page,
        &.portfolio-page {
            .text-zone {
                position: initial;
                transform: none;
                width: 100%;
                display: block;
                padding: 20px;
                box-sizing: border-box;
            }
        }
        
        &.portfolio-page {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            
            h1.page-title {
                margin-left: 20px;
                margin-top: 20px;
            }

            .image-box {
                height: 200px;
                max-width: calc(50% - 10px);
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .page{
        overflow: hidden;
        width: 103vw;
        height: 92vh;
        position: initial;
    }
}

@media screen and (max-width: 650px) {
    .page{
        display: flex;
        overflow-x: hidden !important;
        overflow-y: scroll;
        position: absolute !important;
        top: 5rem;
        width: 103vw;
        height: 100vh;
        position: initial;
    }
}