.contact-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 56%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 20px;
            left: 10px;

            &::before {
                content: "<h1>";
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-top: 5px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }

            &::after {
                content: "</h1>";
                font-family: 'La Belle Aurore';
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -5px;
                margin-left: 20px;
                opacity: 0.6;
            }
        }

        p {
            font-size: 15px;
            color: #fff;
            font-family: sans-serif;
            min-height: fit-content;
            animation: fadeInLeft 2s;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

.contact-form {
    width: 100%;
    height: 50%;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            clear: both;

            &:nth-of-type(1) {
                animation: fadeInLeft 2s;
            }

            &:nth-of-type(2) {
                animation: fadeInRight 2s;
            }

            &:nth-of-type(3) {
                animation: fadeInLeft 2.6s;
            }

            &:nth-of-type(4) {
                animation: fadeInLeft 2.8s;
            }
        }

        li.half {
            width: 100%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        font-family: 'Coolvetica';
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        font-family: 'Coolvetica';
        width: 100%;
        border: 0;
        background: #115173;
        height: 30px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #ffd700;
        background: 0 0;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background: #ffd700;
            color: #000;
        }
    }
}

.info-map {
    transform: translateY(20%);
    position: absolute;
    background-color: #000;
    top: -6%;
    right: 35%;
    z-index: 999999;
    width: 200px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.map-wrap {
    position: absolute;
    background: rgba(8, 253, 216, 0.1);
    right: 0;
    width: 53%;
    height: 123.5%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.leaflet-control-attribution a {
    display: none;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: none;
    display: none;
}

@media screen and (max-width: 1200px) {
    .text-zone {
        p {
            width: 50vw;
        }
    }

    .map-wrap {
        float: none;
        top: 0;
        margin: -5% 0%;
        width: 45%;
        height: 42%;
    }

    .info-map {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .text-zone {
        p {
            width: 50vw;
        }
    }

    .map-wrap {
        float: none;
        top: 0;
        margin: -7% 0%;
        width: 45%;
        height: 45%;
    }

    .info-map {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .container {
        overflow-x: hidden !important;
        &.contact-page {
            top: 0%;
            width: 100%;
            height: 100%;

            .text-zone {
                left: -1rem !important;
                top: 7rem !important;

                h1 {
                    top: -6rem;
                }

                p {
                    position: relative;
                    top: -6rem;
                    width: 90vw;
                }

                .contact-form {
                    width: 105.7%;
                    display: flex;
                    position: relative;
                    top: -5rem;
                    left: 0rem;
                    justify-content: center;
                    align-items: center;

                    form {
                        width: 100%;
                    }
                }
            }

            .map-wrap {
                // float: none;
                top: 40rem;
                // bottom: 10rem;
                // margin: -4% 0%;
                width: 100%;
                height: 50%;
            }

            .info-map {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .container {
        overflow-x: hidden;

        &.contact-page {
            .text-zone {
                h1 {
                    left: 0.5rem;
                    line-height: 48px;
                    font-size: 45px;
                    width: 100vw;

                    &::after {
                        line-height: 30px;
                    }
                }

                p {
                    width: 100vw;
                }

                .contact-form {
                    width: 107.7%;

                    form {
                        width: 100%;
                    }
                }
            }
        }
    }

    .map-wrap {
        top: 0rem !important;
        width: 100% !important;
        height: 70% !important;
        margin-top: 35rem !important;
    }

    .info-map {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .container {
        overflow-x: hidden !important;

        &.contact-page {
            .text-zone {
                position: relative;
                top: -15vh;
                left: -1em !important;

                h1 {
                    left: 0.3 rem;
                    width: 100vw;
                }


                p {
                    line-height: 18px;
                    width: 100vw;
                }

                .contact-form {
                    width: 98%;
                    // right: 2.1em !important;
                }
            }
        }
    }

    .map-wrap {
        top: 0rem !important;
        width: 100% !important;
        height: 70% !important;
        margin-top: 35rem !important;
    }

    .info-map {
        display: none;
    }
}

// @media screen and (max-width: 285px) and (max-height: 690px) {
//     .container {
//         overflow-y: scroll !important;

//         &.contact-page {
//             .text-zone {
//                 position: relative;
//                 top: -15vh;
//                 left: -0.5rem !important;

//                 h1 {
//                     left: 0;
//                     width: 70vw;
//                 }


//                 p {
//                     line-height: 18px;
//                     width: 40vw;
//                 }

//                 .contact-form{
//                     width: 103%;

//                     form{
//                         width: 110%;
//                     }
//                 }
//             }
//         }
//     }

//     .map-wrap {
//         top: 35% !important;
//         // margin: 143% 0%;
//         right: 0rem;
//         width: 55% !important;
//         height: 30%;
//     }

//     .info-map {
//         display: none;
//     }
// }

// @media screen and (max-height: 915px) and (min-height: 690px) {
//     .container {
//         overflow-y: scroll !important;

//         &.contact-page {
//             .text-zone {
//                 position: relative;
//                 top: -1vh;
//                 left: -0.5rem !important;

//                 h1 {
//                     left: 0;
//                     width: 70vw;
//                 }


//                 p {
//                     line-height: 18px;
//                     width: 40vw;
//                 }

//                 .contact-form{
//                     width: 93%;

//                     form{
//                         width: 110%;
//                     }
//                 }
//             }
//         }
//     }

//     .map-wrap {
//         top: 5% !important;
//         margin: 1% 0%;
//         right: 0rem;
//         width: 55% !important;
//         height: 30%;
//     }

//     .info-map {
//         display: none;
//     }
// }